.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  /* height: 100vh;
  width: 100vw; */
}
.tic-tac-toe {
  --row-count: 3;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(var(--row-count), 1fr);
  gap: 10px;
}
.tic-tac-toe-btn {
  min-width: 80px;
  min-height: 80px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  font-weight: bold;
}
.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}
.status {
  font-size: 26px;
  font-weight: 500;
  margin: 0;
}
